body {
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    background-color: #BBC5E5;
}

ul{
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    padding: 50px 8px;
    background-color: #1C5099;
}
h1, h2 {
    color: #FFFFFF;
    text-align: center;
}

nav {
    background-color: #639FA8;
    border-color: #000000;
    min-height: 64px;
}
nav li {
    float: left;
    width: 180px;
}
nav a {
    display: block;
    color: #FFFFFF;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
nav li a:hover {
    color: #1C5099;
    background-color: #FFFFFF;
}

p{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 0.8;
    margin-bottom: 0;
    color: #000000;
}

footer {
    background-color: #1C5099;
    color: #FFFFFF;
    padding: 20px 8px;
    margin-top: 30px;
}